.Meta {
    padding: 15px;

    &__video-title {
        margin: 0;
        font-size: 16px;
        font-weight: 600;
    }

    &__company {
        margin: 0;
        font-size: 12px;
        font-weight: normal;
    }
}
