.App {
    background-image: linear-gradient(to right top, #edfcaf, #aef6b9, #69ebd2, #00dced, #00c7ff);
    display: block;
    padding: 1px 0;
    height: 100%;
}

.Profile {
    background-image: linear-gradient(to bottom, rgba(16, 105, 184, 100) 0%, rgba(23, 134, 231, 100) 22%);
    display: flex;

    &__user,
    &__button {
        color: white;
        display: block;
        flex-grow: 1;
        font-size: 24px;
        font-weight: bold;
        padding: 15px;
        text-align: center;
        text-decoration: none;
    }

    &__button {
        background: transparent;
        border: 0;
        cursor: pointer;

        &:hover {
            opacity: 0.9;
        }

        &:focus {
            outline: none;
        }

        &--logout {
            background-image: linear-gradient(to bottom, rgba(14, 45, 72, 100) 0%, rgba(27, 71, 109, 100) 22%);
        }
    }
}

